.discount-view{
    left: 10px;
    top: 10px;
    background-color: red;
    padding: 2px 5px;
    font-size: 12px;
}
.img-detail{
    object-fit: contain;
}

@media (width <576px) {
    .img-detail{
        height: 70vw;
        width: 70vh;
    }
    
}