.discount-view{
    left: 10px;
    top: 10px;
    background-color: red;
    padding: 2px 5px;
    font-size: 12px;
}
.img-detail{
    object-fit: contain;
    height: 70vw;
    width: 70vw;
}

@media (width >=576px) {
    .img-detail{
        height: 156px;
    }}

@media (width >=768px) {
    .img-detail{
        height: 216.009px;
    }
}
@media (width >=992px) {
    .img-detail{
        height: 296.023px;
    }
}
@media (width >=1200px) {
    .img-detail{
        height: 356.023px;
    }
}
@media (width >=1400px) {
    .img-detail{
        height: 416.023px;
    }
}


#cart-loader{
    width: 25px ;
    height: 25px;
    border: 3px solid wheat;
    border-top: 3px solid gray ;
    border-radius: 50%;
    margin: auto;
    animation: loader 1s ease-in-out infinite ;

}
@keyframes loader {
    to{
        transform: rotate(360deg);
    }
}